In [12]:
import pandas as pd
import numpy as np
import re
import os
from tqdm import tqdm

In [13]:
naver_df = pd.read_csv('../DAOU/naver.csv', encoding='euc-kr')

In [4]:
naver_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6122 entries, 어반스테이 명동 to 오류
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   업소유형                    832 non-null    object
 1   업태구분명                   6122 non-null   object
 2   지번주소                    6111 non-null   object
 3   도로명주소                   3812 non-null   object
 4   가까운 지하철역                5470 non-null   object
 5   지하철역과의 거리               6122 non-null   float64
 6   도보시간                    6122 non-null   float64
 7   위도                      5470 non-null   float64
 8   경도                      5470 non-null   float64
 9   별점                      295 non-null    float64
 10  방문자 리뷰수                 645 non-null    object
 11  블로그 리뷰수                 492 non-null    object
 12  한실수                     4973 non-null   float64
 13  양실수                     4905 non-null   float64
 14  욕실수                     4430 non-null   float64
 15  구비시설                    106 non-null    object
 16  네이버 이런점이 좋아요 총합         186 non-null    float64
 17  네이버 이런점이 좋아요 {항목:좋아요수}  186 non-null    object
 18  데이터갱신일자                 6122 non-null   object
 19  인허가일자                   6122 non-null   object
 20  인허가취소일자                 0 non-null      float64
 21  영업상태코드                  6122 non-null   int64
 22  폐업일자                    3713 non-null   object
 23  휴업시작일자                  0 non-null      float64
 24  휴업종료일자                  0 non-null      float64
 25  재개업일자                   0 non-null      float64
 26  naver_pk                6122 non-null   object
dtypes: float64(13), int64(1), object(13)
memory usage: 1.3+ MB

In [14]:
yanolja_df = pd.read_csv('../DAOU/yanolja.csv', encoding='euc-kr')
yanolja_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1108 entries, 0 to 1107
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   이름                     1108 non-null   object
 1   종류                     1108 non-null   object
 2   평점                     1108 non-null   float64
 3   숙박가격                   1108 non-null   int64
 4   도보시간                   1108 non-null   object
 5   인기테그                   1108 non-null   object
 6   별점 높은순 후기              1108 non-null   object
 7   별점 낮은순 후기              1102 non-null   object
 8   주소                     1108 non-null   object
 9   객실수                    1093 non-null   object
 10  총후기                    1108 non-null   int64
 11  대실가격                   640 non-null    float64
 12  대실시간                   674 non-null    float64
 13  위도                     1108 non-null   float64
 14  경도                     1108 non-null   float64
 15  경쟁업소_수(1km내)           1108 non-null   int64
 16  경쟁업소_최단거리(1km내)        1097 non-null   float64
 17  경쟁업소_최장거리(1km내)        1095 non-null   float64
 18  경쟁업소_평균거리(1km내)        1095 non-null   float64
 19  버스정류장_수(1km내)          1108 non-null   int64
 20  지하철역_수(1km내)           1108 non-null   int64
 21  버스정류장_최단거리(1km내)       1039 non-null   float64
 22  버스정류장_평균거리(1km내)       1039 non-null   float64
 23  지하철역_최단거리(1km내)        1039 non-null   float64
 24  지하철역_평균거리(1km내)        1039 non-null   float64
 25  교통유동인구_월평균승차수(1km내)    1108 non-null   float64
 26  교통유동인구_월평균하차수(1km내)    1108 non-null   float64
 27  교통유동인구_월평균승하차총계(1km내)  1108 non-null   float64
 28  관광지_수(1km내)            1108 non-null   int64
 29  쇼핑몰_수(1km내)            1108 non-null   int64
 30  관광지_최단거리(1km내)         1046 non-null   float64
 31  관광지_평균거리(1km내)         1046 non-null   float64
 32  쇼핑몰_최단거리(1km내)         1046 non-null   float64
 33  쇼핑몰_평균거리(1km내)         1046 non-null   float64
 34  yanolja_pk             1108 non-null   object
dtypes: float64(19), int64(7), object(9)
memory usage: 303.1+ KB

In [15]:
print(len(yanolja_df[yanolja_df['yanolja_pk'].isin(naver_df['naver_pk'])])) # '1148' 개 ㅋ 
print(len(yanolja_df[yanolja_df['위도'].isin(naver_df['위도'])])) # '1148' 개 ㅋ 
print(len(yanolja_df[yanolja_df['경도'].isin(naver_df['경도'])])) # '1148' 개 ㅋ

1042
1042
1042

네이버에 있는 야놀자 필터

In [23]:
print(len(yanolja_df[yanolja_df['yanolja_pk'].isin(naver_df['naver_pk'])])) # '1148' 개 ㅋ 
yanolja_in_naver = yanolja_df[yanolja_df['yanolja_pk'].isin(naver_df['naver_pk'])]

1042

In [24]:
yanolja_in_naver.to_csv("../DAOU/yanolja_in_naver.csv", encoding='euc-kr', index=False)

In [22]:
yanolja_in_naver_df = pd.read_csv('../DAOU/yanolja_in_naver.csv', encoding='euc-kr')
yanolja_in_naver_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   이름                     66 non-null     object
 1   종류                     66 non-null     object
 2   평점                     66 non-null     float64
 3   숙박가격                   66 non-null     int64
 4   도보시간                   66 non-null     object
 5   인기테그                   66 non-null     object
 6   별점 높은순 후기              66 non-null     object
 7   별점 낮은순 후기              66 non-null     object
 8   주소                     66 non-null     object
 9   객실수                    57 non-null     object
 10  총후기                    66 non-null     int64
 11  대실가격                   20 non-null     float64
 12  대실시간                   20 non-null     float64
 13  위도                     66 non-null     float64
 14  경도                     66 non-null     float64
 15  경쟁업소_수(1km내)           66 non-null     int64
 16  경쟁업소_최단거리(1km내)        66 non-null     float64
 17  경쟁업소_최장거리(1km내)        65 non-null     float64
 18  경쟁업소_평균거리(1km내)        65 non-null     float64
 19  버스정류장_수(1km내)          66 non-null     int64
 20  지하철역_수(1km내)           66 non-null     int64
 21  버스정류장_최단거리(1km내)       63 non-null     float64
 22  버스정류장_평균거리(1km내)       63 non-null     float64
 23  지하철역_최단거리(1km내)        63 non-null     float64
 24  지하철역_평균거리(1km내)        63 non-null     float64
 25  교통유동인구_월평균승차수(1km내)    66 non-null     float64
 26  교통유동인구_월평균하차수(1km내)    66 non-null     float64
 27  교통유동인구_월평균승하차총계(1km내)  66 non-null     float64
 28  관광지_수(1km내)            66 non-null     int64
 29  쇼핑몰_수(1km내)            66 non-null     int64
 30  관광지_최단거리(1km내)         61 non-null     float64
 31  관광지_평균거리(1km내)         61 non-null     float64
 32  쇼핑몰_최단거리(1km내)         61 non-null     float64
 33  쇼핑몰_평균거리(1km내)         61 non-null     float64
 34  yanolja_pk             66 non-null     object
dtypes: float64(19), int64(7), object(9)
memory usage: 18.2+ KB