다른 호선에 같은 명칭이 있음 --> 키 새로 생성하기 위한 새 컬럼 추가

In [2]:
import numpy as np
import pandas as pd

In [3]:
subway = pd.read_csv('../../naver_crw/DABA/서울시 역사마스터 정보.csv', encoding='euc-kr')
subway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765 entries, 0 to 764
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   역사_ID   765 non-null    int64
 1   역사명     765 non-null    object
 2   호선      765 non-null    object
 3   위도      765 non-null    float64
 4   경도      765 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 30.0+ KB

In [4]:

subway.groupby('역사명').count()

           역사_ID  호선  위도  경도
역사명
4.19민주묘지       1   1   1   1
가능             1   1   1   1
가락시장           2   2   2   2
가산디지털단지        2   2   2   2
가양             1   1   1   1
...          ...  ..  ..  ..
회현(남대문시장)      1   1   1   1
효자             1   1   1   1
효창공원앞          2   2   2   2
흑석(중앙대입구)      1   1   1   1
흥선             1   1   1   1

[639 rows x 4 columns]

In [5]:
subway.columns

Index(['역사_ID', '역사명', '호선', '위도', '경도'], dtype='object')

In [6]:
# 프라이머리 키 생성
subway['subway_pk'] = np.nan
for i in range(subway.shape[0]):
    #print(subway['역사명'][i], subway['호선'][i])
    subway['subway_pk'][i] = f"{subway['역사명'][i]}, {subway['호선'][i]}"

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_8708\2159356481.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subway['subway_pk'][i] = f"{subway['역사명'][i]}, {subway['호선'][i]}"

In [7]:
subway

     역사_ID   역사명      호선          위도         경도     subway_pk
0     9996    미사     5호선  127.193877  37.560927       미사, 5호선
1     9995    강일     5호선  127.175930  37.557490       강일, 5호선
2     4929  김포공항  김포골드라인  126.801868  37.562360  김포공항, 김포골드라인
3     4928    고촌  김포골드라인  126.770345  37.601243    고촌, 김포골드라인
4     4927    풍무  김포골드라인  126.732387  37.612488    풍무, 김포골드라인
..     ...   ...     ...         ...        ...           ...
760    154  종로5가     1호선  127.001849  37.570926     종로5가, 1호선
761    153  종로3가     1호선  126.991847  37.570406     종로3가, 1호선
762    152    종각     1호선  126.982923  37.570161       종각, 1호선
763    151    시청     1호선  126.977088  37.565715       시청, 1호선
764    150   서울역     1호선  126.972135  37.556228      서울역, 1호선

[765 rows x 6 columns]

In [8]:
subway.to_csv("../DAOU/subway_addkey.csv", encoding='euc-kr', index=False)