야놀자 전처리
1. 중복제거(사업장명, 위도, 경도)
2. DB 구축을 위한 primary 키 삽입 string(사업장명, 위도, 경도)
3. primary key nan제거

In [20]:
import pandas as pd
import numpy as np
import re
import os

In [21]:
yanolja_df = pd.read_excel('../DABA/middle4.xlsx')
yanolja_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1206 entries, 0 to 1205
Data columns (total 34 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   이름                     1206 non-null   object
 1   종류                     1206 non-null   object
 2   평점                     1206 non-null   float64
 3   숙박가격                   1206 non-null   int64
 4   도보시간                   1206 non-null   object
 5   인기테그                   1206 non-null   object
 6   별점 높은순 후기              1206 non-null   object
 7   별점 낮은순 후기              1198 non-null   object
 8   주소                     1206 non-null   object
 9   객실수                    1188 non-null   object
 10  총후기                    1206 non-null   int64
 11  대실가격                   700 non-null    float64
 12  대실시간                   741 non-null    float64
 13  위도                     1206 non-null   float64
 14  경도                     1206 non-null   float64
 15  경쟁업소_수(1km내)           1206 non-null   int64
 16  경쟁업소_최단거리(1km내)        1195 non-null   float64
 17  경쟁업소_최장거리(1km내)        1193 non-null   float64
 18  경쟁업소_평균거리(1km내)        1193 non-null   float64
 19  버스정류장_수(1km내)          1206 non-null   int64
 20  지하철역_수(1km내)           1206 non-null   int64
 21  버스정류장_최단거리(1km내)       1130 non-null   float64
 22  버스정류장_평균거리(1km내)       1130 non-null   float64
 23  지하철역_최단거리(1km내)        1130 non-null   float64
 24  지하철역_평균거리(1km내)        1130 non-null   float64
 25  교통유동인구_월평균승차수(1km내)    1206 non-null   float64
 26  교통유동인구_월평균하차수(1km내)    1206 non-null   float64
 27  교통유동인구_월평균승하차총계(1km내)  1206 non-null   float64
 28  관광지_수(1km내)            1206 non-null   int64
 29  쇼핑몰_수(1km내)            1206 non-null   int64
 30  관광지_최단거리(1km내)         1136 non-null   float64
 31  관광지_평균거리(1km내)         1136 non-null   float64
 32  쇼핑몰_최단거리(1km내)         1136 non-null   float64
 33  쇼핑몰_평균거리(1km내)         1136 non-null   float64
dtypes: float64(19), int64(7), object(8)
memory usage: 320.5+ KB

In [23]:
# 프라이머리 키 생성
yanolja_df['yanolja_pk'] = np.nan
for i in range(yanolja_df.shape[0]):
    if pd.isnull(yanolja_df['위도'][i]) and pd.isnull(yanolja_df['경도'][i]):
        yanolja_df['yanolja_pk'][i] = np.nan
    else:        
        yanolja_df['yanolja_pk'][i] = f"{yanolja_df['위도'][i]:.10f}, {yanolja_df['경도'][i]:.10f}"

C:\Users\tjoeun\AppData\Local\Temp\ipykernel_6572\386546623.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yanolja_df['yanolja_pk'][i] = f"{yanolja_df['위도'][i]:.10f}, {yanolja_df['경도'][i]:.10f}"

In [25]:
# .. 위경도 중복 제거
# 중복 개수 확인
df_temp1 = yanolja_df.groupby(['yanolja_pk'])['주소'].count().reset_index(name='호실개수')
duplicate_name = df_temp1[df_temp1.호실개수 >= 2] # 21개
duplicate_name
num_nankey = len(yanolja_df[pd.isna(yanolja_df['yanolja_pk'])])
print(f'중복 개수 {len(duplicate_name)}, nan 개수 {num_nankey}')

yanolja_df_p1 = yanolja_df.drop_duplicates(['yanolja_pk'])    # 6664 --> 6383
print(len(duplicate_name), yanolja_df_p1.shape[0], yanolja_df.shape[0])

중복 개수 95, nan 개수 0
95 1108 1206

In [26]:
yanolja_df_p1.to_csv("../DAOU/yanolja.csv", encoding='euc-kr', index=False)