In [1]:
import numpy as np
import pandas as pd
#from haversine import haversine, Unit
import geopy.distance

In [2]:
small_df = pd.read_csv('../DAOU/test_small_out_v1.csv', index_col=0, encoding='euc-kr')
small_df['네이버 이런점이 좋아요 {항목:좋아요수}'].notnull
small_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 610 entries, 0 to 0
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   사업장명                    610 non-null    object
 1   업소유형                    251 non-null    object
 2   관광숙박업상세명                319 non-null    object
 3   건물용도명                   209 non-null    object
 4   지번주소                    610 non-null    object
 5   도로명주소                   602 non-null    object
 6   위도                      583 non-null    float64
 7   경도                      583 non-null    float64
 8   별점                      172 non-null    float64
 9   방문자 리뷰수                 231 non-null    object
 10  블로그 리뷰수                 229 non-null    object
 11  지하철역과의 거리               177 non-null    object
 12  도보시간                    37 non-null     object
 13  객실수                     307 non-null    float64
 14  시설면적                    358 non-null    float64
 15  시설규모                    358 non-null    float64
 16  구비시설                    107 non-null    object
 17  네이버 이런점이 좋아요 총합         164 non-null    float64
 18  네이버 이런점이 좋아요 {항목:좋아요수}  164 non-null    object
 19  데이터갱신일자                 610 non-null    object
 20  인허가일자                   610 non-null    object
 21  인허가취소일자                 1 non-null      float64
 22  영업상태코드                  610 non-null    int64
 23  폐업일자                    136 non-null    object
 24  휴업시작일자                  9 non-null      object
 25  휴업종료일자                  9 non-null      object
 26  재개업일자                   0 non-null      float64
dtypes: float64(9), int64(1), object(17)
memory usage: 133.4+ KB

In [3]:
large_df = pd.read_csv('../DAOU/test_large_out_v1.csv', index_col=0, encoding='euc-kr')
large_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6664 entries, 0 to 0
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   사업장명                    6664 non-null   object
 1   업소유형                    874 non-null    object
 2   업태구분명                   6664 non-null   object
 3   지번주소                    6653 non-null   object
 4   도로명주소                   3986 non-null   object
 5   위도                      5287 non-null   float64
 6   경도                      5287 non-null   float64
 7   별점                      310 non-null    float64
 8   방문자 리뷰수                 685 non-null    object
 9   블로그 리뷰수                 513 non-null    object
 10  지하철역과의 거리               774 non-null    object
 11  도보시간                    94 non-null     object
 12  한실수                     5434 non-null   float64
 13  양실수                     5347 non-null   float64
 14  욕실수                     4813 non-null   float64
 15  구비시설                    107 non-null    object
 16  네이버 이런점이 좋아요 총합         191 non-null    float64
 17  네이버 이런점이 좋아요 {항목:좋아요수}  191 non-null    object
 18  데이터갱신일자                 6664 non-null   object
 19  인허가일자                   6664 non-null   object
 20  인허가취소일자                 0 non-null      float64
 21  영업상태코드                  6664 non-null   int64
 22  폐업일자                    4173 non-null   object
 23  휴업시작일자                  0 non-null      float64
 24  휴업종료일자                  0 non-null      float64
 25  재개업일자                   0 non-null      float64
dtypes: float64(11), int64(1), object(14)
memory usage: 1.4+ MB

In [4]:
subway = pd.read_csv('../DABA/서울시 역사마스터 정보.csv', index_col=0, encoding='euc-kr')
subway

        역사명      호선          위도         경도
역사_ID
9996     미사     5호선  127.193877  37.560927
9995     강일     5호선  127.175930  37.557490
4929   김포공항  김포골드라인  126.801868  37.562360
4928     고촌  김포골드라인  126.770345  37.601243
4927     풍무  김포골드라인  126.732387  37.612488
...     ...     ...         ...        ...
154    종로5가     1호선  127.001849  37.570926
153    종로3가     1호선  126.991847  37.570406
152      종각     1호선  126.982923  37.570161
151      시청     1호선  126.977088  37.565715
150     서울역     1호선  126.972135  37.556228

[765 rows x 4 columns]

In [5]:
small_df.iloc[0]['사업장명']

print(np.nan)

nan

In [21]:
# .. 가까운 지하철 거리 및 도보 시간 구하기
# 가까운 지하철 구하기

small_dist = []

#for i in range(small_df.shape[0]):
for i in range(10):
    #for j in range(subway.shape[0]):
    dummy = []

    for j in range(10):

        if not(small_df.iloc[i]['위도'] == np.nan ) :
            hotel_latlon = (small_df.iloc[i]['위도'], small_df.iloc[i]['경도'])
            subway_latlon = (subway.iloc[j]['경도'], subway.iloc[j]['위도'])    # 원본데이터에서 위경도 컬럼명 바뀌어 있음

            dist = geopy.distance.geodesic(hotel_latlon, subway_latlon).km
            dummy.append(dist)

    print(f"호텔:{small_df.iloc[i]['사업장명']} {min(dummy)}km")
    small_dist.append(min(dummy))

호텔:호텔 데님(Hotel Denim) 16.06015095517993km
호텔:호텔 데님(Hotel Denim) 14.564084513399296km
호텔:호텔 데님(Hotel Denim) 23.65582790872142km
호텔:호텔 데님(Hotel Denim) 28.085822713587852km
호텔:호텔 데님(Hotel Denim) 31.62240299492514km
호텔:호텔 데님(Hotel Denim) 33.0160714442052km
호텔:호텔 데님(Hotel Denim) 34.694292426414194km
호텔:호텔 데님(Hotel Denim) 37.6247288267755km
호텔:호텔 데님(Hotel Denim) 38.20847715807964km
호텔:호텔 데님(Hotel Denim) 39.96037495293766km
호텔:티마크그랜드호텔명동 19.018678748621028km
호텔:티마크그랜드호텔명동 17.431720888451895km
호텔:티마크그랜드호텔명동 15.625118138255038km
호텔:티마크그랜드호텔명동 19.002511412110955km
호텔:티마크그랜드호텔명동 22.56236780923817km
호텔:티마크그랜드호텔명동 23.87376862807076km
호텔:티마크그랜드호텔명동 25.413922366557564km
호텔:티마크그랜드호텔명동 28.095626263565375km
호텔:티마크그랜드호텔명동 28.943199919521142km
호텔:티마크그랜드호텔명동 30.901641363675665km
호텔:위너스 28.636971291521373km
호텔:위너스 27.017325062412883km
호텔:위너스 12.693338583264687km
호텔:위너스 17.81538443578648km
호텔:위너스 20.90063051244099km
호텔:위너스 22.288982146532607km
호텔:위너스 24.042325563628882km
호텔:위너스 27.175522964282933km
호텔:위너스 27.297416903627262km
호텔:위너스 28.658723206980977km
호텔:데이즈 호텔 명동 18.575964341837473km
호텔:데이즈 호텔 명동 16.99502052012352km
호텔:데이즈 호텔 명동 16.06001499294476km
호텔:데이즈 호텔 명동 19.362934879591783km
호텔:데이즈 호텔 명동 22.915957593315422km
호텔:데이즈 호텔 명동 24.218593076181254km
호텔:데이즈 호텔 명동 25.74516652449171km
호텔:데이즈 호텔 명동 28.40152534808071km
호텔:데이즈 호텔 명동 29.270454502173006km
호텔:데이즈 호텔 명동 31.24223836598373km
호텔:강남패밀리호텔 15.681928937989591km
호텔:강남패밀리호텔 14.073851124956787km
호텔:강남패밀리호텔 21.109097113805735km
호텔:강남패밀리호텔 25.25226403966753km
호텔:강남패밀리호텔 28.820739753742224km
호텔:강남패밀리호텔 30.19370398129643km
호텔:강남패밀리호텔 31.83136665396834km
호텔:강남패밀리호텔 34.68285888263009km
호텔:강남패밀리호텔 35.364709572198514km
호텔:강남패밀리호텔 37.19719487627291km
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산 20.67370345926477km
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산 19.048526620876316km
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산 14.616508231659902km
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산 18.661971168730297km
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산 22.231672691961315km
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산 23.603177046567012km
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산 25.240862089124544km
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산 28.102055395386365km
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산 28.7738685148972km
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산 30.60958866501924km
호텔:남산스토리 나인 18.840241474933638km
호텔:남산스토리 나인 17.24722778371767km
호텔:남산스토리 나인 15.82193413541239km
호텔:남산스토리 나인 19.258898754336226km
호텔:남산스토리 나인 22.822487540601543km
호텔:남산스토리 나인 24.139061757126896km
호텔:남산스토리 나인 25.68686153949294km
호텔:남산스토리 나인 28.381553806333812km
호텔:남산스토리 나인 29.218008930221743km
호텔:남산스토리 나인 31.168753996916088km
호텔:롯데시티호텔명동 18.194761520650925km
호텔:롯데시티호텔명동 16.63037982362365km
호텔:롯데시티호텔명동 16.459139611746323km
호텔:롯데시티호텔명동 19.604637687453934km
호텔:롯데시티호텔명동 23.14131884497718km
호텔:롯데시티호텔명동 24.426362441864555km
호텔:롯데시티호텔명동 25.92654723107923km
호텔:롯데시티호텔명동 28.535198352013378km
호텔:롯데시티호텔명동 29.44244937485202km
호텔:롯데시티호텔명동 31.43813884073427km
호텔:ROJIN(로진) 27.217004084778942km
호텔:ROJIN(로진) 25.59193676192401km
호텔:ROJIN(로진) 8.898652027355384km
호텔:ROJIN(로진) 13.652770724738946km
호텔:ROJIN(로진) 17.073968874327303km
호텔:ROJIN(로진) 18.483930994665396km
호텔:ROJIN(로진) 20.210800922610762km
호텔:ROJIN(로진) 23.25691335044558km
호텔:ROJIN(로진) 23.661633681547457km
호텔:ROJIN(로진) 25.298201042230854km
호텔:아난티 앳 강남 15.296900747704301km
호텔:아난티 앳 강남 13.672214359877108km
호텔:아난티 앳 강남 20.727765894076775km
호텔:아난티 앳 강남 24.713471878362157km
호텔:아난티 앳 강남 28.288828136011176km
호텔:아난티 앳 강남 29.648434624215092km
호텔:아난티 앳 강남 31.262498478830945km
호텔:아난티 앳 강남 34.069023648317426km
호텔:아난티 앳 강남 34.79971243268147km
호텔:아난티 앳 강남 36.66923388244356km

In [20]:
df = pd.DataFrame(small_dist, columns=['거리'])

for i in range(10):
    print(f"호텔:{small_df.iloc[i]['사업장명']}, {df.iloc[i]['거리']}")

호텔:호텔 데님(Hotel Denim), 14.564084513399296
호텔:티마크그랜드호텔명동, 15.625118138255038
호텔:위너스, 12.693338583264687
호텔:데이즈 호텔 명동, 16.06001499294476
호텔:강남패밀리호텔, 14.073851124956787
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산, 14.616508231659902
호텔:남산스토리 나인, 15.82193413541239
호텔:롯데시티호텔명동, 16.459139611746323
호텔:ROJIN(로진), 8.898652027355384
호텔:아난티 앳 강남, 13.672214359877108