In [9]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
                                              0.0/119.8 kB ? eta -:--:--
     -------------------------------------- 119.8/119.8 kB 6.8 MB/s eta 0:00:00
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
                                              0.0/40.3 kB ? eta -:--:--
     ---------------------------------------- 40.3/40.3 kB ? eta 0:00:00
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0

In [10]:
import numpy as np
import pandas as pd
from haversine import haversine, Unit
import geopy.distance

In [3]:
small_df = pd.read_csv('../DAOU/test_small_out_v1.csv', index_col=0, encoding='euc-kr')
small_df['네이버 이런점이 좋아요 {항목:좋아요수}'].notnull
small_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 610 entries, 0 to 0
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   사업장명                    610 non-null    object
 1   업소유형                    251 non-null    object
 2   관광숙박업상세명                319 non-null    object
 3   건물용도명                   209 non-null    object
 4   지번주소                    610 non-null    object
 5   도로명주소                   602 non-null    object
 6   위도                      583 non-null    float64
 7   경도                      583 non-null    float64
 8   별점                      172 non-null    float64
 9   방문자 리뷰수                 231 non-null    object
 10  블로그 리뷰수                 229 non-null    object
 11  지하철역과의 거리               177 non-null    object
 12  도보시간                    37 non-null     object
 13  객실수                     307 non-null    float64
 14  시설면적                    358 non-null    float64
 15  시설규모                    358 non-null    float64
 16  구비시설                    107 non-null    object
 17  네이버 이런점이 좋아요 총합         164 non-null    float64
 18  네이버 이런점이 좋아요 {항목:좋아요수}  164 non-null    object
 19  데이터갱신일자                 610 non-null    object
 20  인허가일자                   610 non-null    object
 21  인허가취소일자                 1 non-null      float64
 22  영업상태코드                  610 non-null    int64
 23  폐업일자                    136 non-null    object
 24  휴업시작일자                  9 non-null      object
 25  휴업종료일자                  9 non-null      object
 26  재개업일자                   0 non-null      float64
dtypes: float64(9), int64(1), object(17)
memory usage: 133.4+ KB

In [4]:
large_df = pd.read_csv('../DAOU/test_large_out_v1.csv', index_col=0, encoding='euc-kr')
large_df['네이버 이런점이 좋아요 {항목:좋아요수}'].notnull
large_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2685 entries, 0 to 0
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   사업장명                    2685 non-null   object
 1   업소유형                    403 non-null    object
 2   업태구분명                   2685 non-null   object
 3   지번주소                    2678 non-null   object
 4   도로명주소                   1653 non-null   object
 5   위도                      2116 non-null   float64
 6   경도                      2116 non-null   float64
 7   별점                      143 non-null    float64
 8   방문자 리뷰수                 307 non-null    object
 9   블로그 리뷰수                 261 non-null    object
 10  지하철역과의 거리               353 non-null    object
 11  도보시간                    55 non-null     object
 12  한실수                     2019 non-null   float64
 13  양실수                     1937 non-null   float64
 14  욕실수                     1779 non-null   float64
 15  구비시설                    66 non-null     object
 16  네이버 이런점이 좋아요 총합         90 non-null     float64
 17  네이버 이런점이 좋아요 {항목:좋아요수}  90 non-null     object
 18  데이터갱신일자                 2685 non-null   object
 19  인허가일자                   2685 non-null   object
 20  인허가취소일자                 0 non-null      float64
 21  영업상태코드                  2685 non-null   int64
 22  폐업일자                    1511 non-null   object
 23  휴업시작일자                  0 non-null      float64
 24  휴업종료일자                  0 non-null      float64
 25  재개업일자                   0 non-null      float64
dtypes: float64(11), int64(1), object(14)
memory usage: 566.4+ KB

In [5]:
subway = pd.read_csv('../DABA/서울시 역사마스터 정보.csv', index_col=0, encoding='euc-kr')
subway

        역사명      호선          위도         경도
역사_ID
9996     미사     5호선  127.193877  37.560927
9995     강일     5호선  127.175930  37.557490
4929   김포공항  김포골드라인  126.801868  37.562360
4928     고촌  김포골드라인  126.770345  37.601243
4927     풍무  김포골드라인  126.732387  37.612488
...     ...     ...         ...        ...
154    종로5가     1호선  127.001849  37.570926
153    종로3가     1호선  126.991847  37.570406
152      종각     1호선  126.982923  37.570161
151      시청     1호선  126.977088  37.565715
150     서울역     1호선  126.972135  37.556228

[765 rows x 4 columns]

In [6]:
small_df.iloc[0]['사업장명']

'호텔 데님(Hotel Denim)'

In [16]:
# .. 가까운 지하철 거리 및 도보 시간 구하기
# 가까운 지하철 구하기

small_df[small_df['위도'].isna()==True]

dist = []
for i in range(small_df.shape[0]):
    for j in range(subway.shape[0]):

        if small_df['위도']:
            hotel_latlon = (small_df.iloc[i]['위도'], small_df.iloc[i]['경도'])
            subway_latlon = (subway.iloc[j]['경도'], subway.iloc[j]['위도'])    # 원본데이터에서 위경도 컬럼명 바뀌어 있음

        #print(f'호텔:{small_df.iloc[i]["사업장명"]}')
        
        dist.append(geopy.distance.geodesic(hotel_latlon, subway_latlon).m)

,사업장명,업소유형,관광숙박업상세명,건물용도명,지번주소,도로명주소,위도,경도,별점,방문자 리뷰수,...,네이버 이런점이 좋아요 총합,네이버 이런점이 좋아요 {항목:좋아요수},데이터갱신일자,인허가일자,인허가취소일자,영업상태코드,폐업일자,휴업시작일자,휴업종료일자,재개업일자
0,영동관광호텔,NaN,NaN,NaN,서울특별시 강남구 논현동 6 6-1,"서울특별시 강남구 도산대로 144 (논현동, 영동관광호텔)",NaN,NaN,NaN,NaN,...,NaN,NaN,2021-12-03 22:00:00.0,19971230,NaN,3,20220418,NaN,NaN,NaN
0,(주)호텔롯데 롯데시티호텔 김포공항,NaN,NaN,NaN,서울특별시 강서구 방화동 886 외 6필지,서울특별시 강서구 하늘길 38 (방화동),NaN,NaN,NaN,NaN,...,NaN,NaN,2022-12-03 00:05:00.0,2011-11-30,NaN,1,NaN,NaN,NaN,NaN
0,더리프 사당점,NaN,NaN,NaN,서울특별시 관악구 남현동 1061-2 3~7층,"서울특별시 관악구 남현1길 66, 3~7층 (남현동)",NaN,NaN,NaN,NaN,...,NaN,NaN,2021-11-01 00:05:00.0,20220713,NaN,1,NaN,NaN,NaN,NaN
0,디에스디엘(주) 프레이저 플레이스 센트럴 서울,NaN,NaN,NaN,서울특별시 중구 순화동 214-0 외 1필지,"서울특별시 중구 통일로 78 (순화동,외 1필지)",NaN,NaN,NaN,NaN,...,NaN,NaN,2021-12-03 23:05:00.0,20081022,NaN,1,NaN,NaN,NaN,NaN
0,전풍관광호텔,NaN,NaN,호텔,서울특별시 성동구 도선동 58-0번지,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2018-08-31 23:59:59.0,20050429,NaN,3,20090415,NaN,NaN,NaN
0,제이베이 관광호텔,NaN,NaN,NaN,서울특별시 강북구 수유동 174-32 외1필지(174-19),서울특별시 강북구 한천로140길 14 (수유동),NaN,NaN,NaN,NaN,...,NaN,NaN,2022-12-03 23:04:00.0,2022-09-26,NaN,1,NaN,NaN,NaN,NaN
0,서서울관광호텔,NaN,NaN,NaN,서울특별시 마포구 합정동 381-17번지,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2018-08-31 23:59:59.0,19990726,NaN,3,20040422,NaN,NaN,NaN
0,신라스테이 광화문,3성급,관광호텔업,NaN,서울특별시 종로구 수송동 51-8,"서울특별시 종로구 삼봉로 71 (수송동, G타워)",NaN,NaN,4.33,"1,747",...,589.0,"{'친절해요': 200},{'깨끗해요': 161},{'침구가 좋아요': 154},{...",2021-03-25 02:40:00.0,20151221,NaN,1,NaN,NaN,NaN,NaN
0,포시즌스 호텔 서울,5성급,관광호텔업,호텔,서울특별시 종로구 당주동 29,서울특별시 종로구 새문안로 97 (당주동),NaN,NaN,4.52,"2,546",...,NaN,NaN,2021-03-25 02:40:00.0,20150930,NaN,1,NaN,NaN,NaN,NaN
0,이스트게이트 타워호텔,NaN,NaN,NaN,서울특별시 중구 을지로6가 17-2번지 케레스타 빌딩 18층~20층,"서울특별시 중구 장충단로13길 20 (을지로6가,케레스타 빌딩 18층~20층)",NaN,NaN,NaN,NaN,...,NaN,NaN,2018-08-31 23:59:59.0,20090522,NaN,3,20140305,NaN,NaN,NaN
0,소테츠호텔즈 더 스프라지르 서울 명동,NaN,관광호텔업,NaN,서울특별시 중구 북창동 93-99,서울특별시 중구 남대문로5길 15 (북창동),NaN,NaN,NaN,NaN,...,NaN,NaN,2021-06-04 02:40:00.0,20151102,NaN,1,NaN,NaN,NaN,NaN
0,(주)조선호텔앤리조트 레스케이프,NaN,관광호텔업,NaN,서울특별시 중구 회현동1가 194-19,서울특별시 중구 퇴계로 67 (회현동1가),NaN,NaN,NaN,NaN,...,NaN,NaN,2021-04-28 02:40:00.0,20180719,NaN,1,NaN,NaN,NaN,NaN
0,케이 게스트하우스 동대문프리미엄점,NaN,호스텔업,NaN,서울특별시 중구 광희동2가 360번지 3-7층,"서울특별시 중구 장충단로 213, 3-7층 (광희동2가, 동훈빌딩)",NaN,NaN,NaN,NaN,...,NaN,NaN,2020-06-19 02:40:00.0,20160322,NaN,1,NaN,NaN,NaN,NaN
0,서울호스텔,NaN,호스텔업,NaN,서울특별시 중구 광희동2가 43-1 3~6층,"서울특별시 중구 퇴계로 329, 3~6층 (광희동2가)",NaN,NaN,NaN,NaN,...,NaN,NaN,2020-12-25 02:40:00.0,20161214,NaN,1,NaN,NaN,NaN,NaN
0,코리아나호텔,NaN,관광호텔업,NaN,서울특별시 중구 태평로1가 51-1,"서울특별시 중구 세종대로 135 (태평로1가, 코리아나호텔)",NaN,NaN,NaN,NaN,...,NaN,NaN,2021-04-22 02:40:00.0,19870708,NaN,1,NaN,NaN,NaN,NaN
0,라마다호텔앤스위트 서울센트럴,NaN,NaN,숙박시설,서울특별시 중구 순화동 151번지 외 1필지 C동,"서울특별시 중구 칠패로 27 (순화동,외 1필지 C동)",NaN,NaN,NaN,NaN,...,NaN,NaN,2018-08-31 23:59:59.0,20080111,20110105.0,4,NaN,NaN,NaN,NaN
0,해밀톤관광호텔,NaN,관광호텔업,호텔,"서울특별시 용산구 이태원동 119-24번지 119-24,25,108-9,123-10...",서울특별시 용산구 이태원로 179 (이태원동),NaN,NaN,NaN,NaN,...,NaN,NaN,2018-10-28 02:36:21.0,19750729,NaN,1,NaN,NaN,NaN,NaN
0,크라운관광호텔,NaN,NaN,NaN,"서울특별시 용산구 이태원동 34-69 36-69, 34-159, 44-64",서울특별시 용산구 녹사평대로 140 (이태원동),NaN,NaN,NaN,NaN,...,NaN,NaN,2021-12-05 22:06:00.0,19800520,NaN,3,20220624,NaN,NaN,NaN
0,아모렉스 관광호텔,NaN,관광호텔업,호텔,"서울특별시 성동구 도선동 72번지 외 2필지(73, 74번지)","서울특별시 성동구 왕십리로20길 19 (도선동, 아모렉스 관광호텔)",NaN,NaN,NaN,NaN,...,NaN,NaN,2019-04-27 02:40:00.0,20080909,NaN,1,NaN,NaN,NaN,NaN
0,(주)워커힐,NaN,NaN,NaN,서울특별시 광진구 광장동 산 21-0번지,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2018-08-31 23:59:59.0,20001108,NaN,3,20060828,NaN,NaN,NaN
0,SK 네트웍스 (주) 워커힐,NaN,NaN,NaN,서울특별시 광진구 광장동 산 21-0,서울특별시 광진구 워커힐로 177 (광장동),NaN,NaN,NaN,NaN,...,NaN,NaN,2021-12-08 00:07:00.0,19950305,NaN,1,NaN,NaN,NaN,NaN
0,D.H 네상스,NaN,NaN,NaN,"서울특별시 성북구 동선동1가 92-20 외 3필지(92-21, 92-26, 92-27)",서울특별시 성북구 동소문로20나길 39 (동선동1가),NaN,NaN,NaN,NaN,...,NaN,NaN,2021-12-04 23:08:00.0,20111214,NaN,1,NaN,NaN,NaN,NaN
0,24게스트하우스 신촌에비뉴엘점,NaN,NaN,NaN,"서울특별시 서대문구 창천동 31-92 8,9,10층","서울특별시 서대문구 명물길 19, 8,9,10층 (창천동, 경오빌딩)",NaN,NaN,NaN,NaN,...,NaN,NaN,2021-11-01 23:05:00.0,20160912,NaN,1,NaN,NaN,NaN,NaN
0,호텔에스,NaN,관광호텔업,NaN,서울특별시 강서구 화곡동 918-23번지 외 2필지,"서울특별시 강서구 곰달래로 108 (화곡동,외 2필지)",NaN,NaN,NaN,NaN,...,NaN,NaN,2020-04-03 02:40:00.0,20110720,NaN,1,NaN,NaN,NaN,NaN
0,이도,NaN,호스텔업,NaN,서울특별시 영등포구 당산동3가 136번지 외 1필지,서울특별시 영등포구 국회대로36길 2-1 (당산동3가),NaN,NaN,NaN,NaN,...,NaN,NaN,2019-09-11 02:40:00.0,20190722,NaN,1,NaN,NaN,NaN,NaN
0,엘리에나호텔,NaN,NaN,숙박시설,"서울특별시 강남구 논현동 152번지 외 4필지, 152-1, 2, 3, 4","서울특별시 강남구 논현로 645 (논현동, 뉴힐탑호텔)",NaN,NaN,NaN,NaN,...,NaN,NaN,2020-06-20 02:40:00.0,19930205,NaN,1,NaN,NaN,NaN,NaN
0,바고관광호텔,NaN,관광호텔업,NaN,서울특별시 강동구 천호동 324-39 외3필지,서울특별시 강동구 천중로 27 (천호동),NaN,NaN,NaN,NaN,...,NaN,NaN,2021-03-27 02:40:00.0,20120907,NaN,1,NaN,NaN,NaN,NaN