In [2]:
import numpy as np
import pandas as pd
#from haversine import haversine, Unit
import geopy.distance

In [3]:
small_df = pd.read_csv('../DAOU/test_small_out_v1.csv', index_col=0, encoding='euc-kr')
small_df['네이버 이런점이 좋아요 {항목:좋아요수}'].notnull
small_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 610 entries, 0 to 0
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   사업장명                    610 non-null    object
 1   업소유형                    251 non-null    object
 2   관광숙박업상세명                319 non-null    object
 3   건물용도명                   209 non-null    object
 4   지번주소                    610 non-null    object
 5   도로명주소                   602 non-null    object
 6   위도                      583 non-null    float64
 7   경도                      583 non-null    float64
 8   별점                      172 non-null    float64
 9   방문자 리뷰수                 231 non-null    object
 10  블로그 리뷰수                 229 non-null    object
 11  지하철역과의 거리               177 non-null    object
 12  도보시간                    37 non-null     object
 13  객실수                     307 non-null    float64
 14  시설면적                    358 non-null    float64
 15  시설규모                    358 non-null    float64
 16  구비시설                    107 non-null    object
 17  네이버 이런점이 좋아요 총합         164 non-null    float64
 18  네이버 이런점이 좋아요 {항목:좋아요수}  164 non-null    object
 19  데이터갱신일자                 610 non-null    object
 20  인허가일자                   610 non-null    object
 21  인허가취소일자                 1 non-null      float64
 22  영업상태코드                  610 non-null    int64
 23  폐업일자                    136 non-null    object
 24  휴업시작일자                  9 non-null      object
 25  휴업종료일자                  9 non-null      object
 26  재개업일자                   0 non-null      float64
dtypes: float64(9), int64(1), object(17)
memory usage: 133.4+ KB

In [5]:
large_df = pd.read_csv('../DAOU/test_large_out_v1.csv', index_col=0, encoding='euc-kr')
large_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6664 entries, 0 to 0
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   사업장명                    6664 non-null   object
 1   업소유형                    874 non-null    object
 2   업태구분명                   6664 non-null   object
 3   지번주소                    6653 non-null   object
 4   도로명주소                   3986 non-null   object
 5   위도                      5287 non-null   float64
 6   경도                      5287 non-null   float64
 7   별점                      310 non-null    float64
 8   방문자 리뷰수                 685 non-null    object
 9   블로그 리뷰수                 513 non-null    object
 10  지하철역과의 거리               774 non-null    object
 11  도보시간                    94 non-null     object
 12  한실수                     5434 non-null   float64
 13  양실수                     5347 non-null   float64
 14  욕실수                     4813 non-null   float64
 15  구비시설                    107 non-null    object
 16  네이버 이런점이 좋아요 총합         191 non-null    float64
 17  네이버 이런점이 좋아요 {항목:좋아요수}  191 non-null    object
 18  데이터갱신일자                 6664 non-null   object
 19  인허가일자                   6664 non-null   object
 20  인허가취소일자                 0 non-null      float64
 21  영업상태코드                  6664 non-null   int64
 22  폐업일자                    4173 non-null   object
 23  휴업시작일자                  0 non-null      float64
 24  휴업종료일자                  0 non-null      float64
 25  재개업일자                   0 non-null      float64
dtypes: float64(11), int64(1), object(14)
memory usage: 1.4+ MB

In [6]:
subway = pd.read_csv('../DABA/서울시 역사마스터 정보.csv', index_col=0, encoding='euc-kr')
subway

        역사명      호선          위도         경도
역사_ID
9996     미사     5호선  127.193877  37.560927
9995     강일     5호선  127.175930  37.557490
4929   김포공항  김포골드라인  126.801868  37.562360
4928     고촌  김포골드라인  126.770345  37.601243
4927     풍무  김포골드라인  126.732387  37.612488
...     ...     ...         ...        ...
154    종로5가     1호선  127.001849  37.570926
153    종로3가     1호선  126.991847  37.570406
152      종각     1호선  126.982923  37.570161
151      시청     1호선  126.977088  37.565715
150     서울역     1호선  126.972135  37.556228

[765 rows x 4 columns]

In [7]:
small_df.iloc[0]['사업장명']

print(np.nan)

nan

In [8]:
# .. 가까운 지하철 거리 및 도보 시간 구하기
# 가까운 지하철 구하기

small_dist = []

#for i in range(small_df.shape[0]):
for i in range(10):
    #for j in range(subway.shape[0]):
    dummy = []

    for j in range(10):

        if not(small_df.iloc[i]['위도'] == np.nan ) :
            hotel_latlon = (small_df.iloc[i]['위도'], small_df.iloc[i]['경도'])
            subway_latlon = (subway.iloc[j]['경도'], subway.iloc[j]['위도'])    # 원본데이터에서 위경도 컬럼명 바뀌어 있음

            dist = geopy.distance.geodesic(hotel_latlon, subway_latlon).km
            dummy.append(dist)
        else:
            dummy.append(99999999)

    print(f"호텔:{small_df.iloc[i]['사업장명']} {small_df.iloc[i]['지번주소']} {min(dummy)}km")
    small_dist.append(min(dummy))

호텔:호텔 데님(Hotel Denim) 서울특별시 강남구 개포동 1229-14 14.564084513399296km
호텔:티마크그랜드호텔명동 서울특별시 중구 회현동1가 194-15 15.625118138255038km
호텔:위너스 서울특별시 금천구 독산동 335-21 12.693338583264687km
호텔:데이즈 호텔 명동 서울특별시 중구 충무로1가 24-30 16.06001499294476km
호텔:강남패밀리호텔 서울특별시 강남구 논현동 205-8 14.073851124956787km
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산 서울특별시 용산구 한강로3가 40-969 서울드래곤시티 14.616508231659902km
호텔:남산스토리 나인 서울특별시 중구 회현동1가 100-104 15.82193413541239km
호텔:롯데시티호텔명동 서울특별시 중구 장교동 74 16.459139611746323km
호텔:ROJIN(로진) 서울특별시 영등포구 양평동1가 136 8.898652027355384km
호텔:아난티 앳 강남 서울특별시 강남구 논현동 74-6 13.672214359877108km

In [9]:
df = pd.DataFrame(small_dist, columns=['거리'])

for i in range(10):
    print(f"호텔:{small_df.iloc[i]['사업장명']}, {df.iloc[i]['거리']}")

호텔:호텔 데님(Hotel Denim), 14.564084513399296
호텔:티마크그랜드호텔명동, 15.625118138255038
호텔:위너스, 12.693338583264687
호텔:데이즈 호텔 명동, 16.06001499294476
호텔:강남패밀리호텔, 14.073851124956787
호텔:(주)서부티엔디 노보텔 앰배서더 서울 용산, 14.616508231659902
호텔:남산스토리 나인, 15.82193413541239
호텔:롯데시티호텔명동, 16.459139611746323
호텔:ROJIN(로진), 8.898652027355384
호텔:아난티 앳 강남, 13.672214359877108