1. v1과 v2에 위경도 존재하는값을 v3에 삽입
    - 새로돌린 v2에 없는 경우가 생김
2. v3 데이터로 지하철역 거리 구하기

In [1]:
import pandas as pd
import numpy as np

In [23]:
large1 = pd.read_csv('../DAOU/test_large_out_v1.csv', index_col=0, encoding='euc-kr')
#large1 = pd.read_csv('../DAIN/crw_large_list.txt', index_col=0)
large2 = pd.read_csv('../DAIN/crw_large_list_v2.txt', index_col=0)
#large3 = pd.read_csv('../DAIN/crw_large_list.txt', index_col=0)
large3 = pd.read_csv('../DAOU/test_large_out_v1.csv', index_col=0, encoding='euc-kr')

In [24]:
large3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6664 entries, 0 to 0
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   사업장명                    6664 non-null   object
 1   업소유형                    874 non-null    object
 2   업태구분명                   6664 non-null   object
 3   지번주소                    6653 non-null   object
 4   도로명주소                   3986 non-null   object
 5   위도                      5287 non-null   float64
 6   경도                      5287 non-null   float64
 7   별점                      310 non-null    float64
 8   방문자 리뷰수                 685 non-null    object
 9   블로그 리뷰수                 513 non-null    object
 10  지하철역과의 거리               774 non-null    object
 11  도보시간                    94 non-null     object
 12  한실수                     5434 non-null   float64
 13  양실수                     5347 non-null   float64
 14  욕실수                     4813 non-null   float64
 15  구비시설                    107 non-null    object
 16  네이버 이런점이 좋아요 총합         191 non-null    float64
 17  네이버 이런점이 좋아요 {항목:좋아요수}  191 non-null    object
 18  데이터갱신일자                 6664 non-null   object
 19  인허가일자                   6664 non-null   object
 20  인허가취소일자                 0 non-null      float64
 21  영업상태코드                  6664 non-null   int64
 22  폐업일자                    4173 non-null   object
 23  휴업시작일자                  0 non-null      float64
 24  휴업종료일자                  0 non-null      float64
 25  재개업일자                   0 non-null      float64
dtypes: float64(11), int64(1), object(14)
memory usage: 1.4+ MB

In [25]:
large2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6664 entries, 0 to 6663
Data columns (total 17 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   사업장명     6664 non-null   object
 1   지번주소     6653 non-null   object
 2   도로명주소    3986 non-null   object
 3   위도       5640 non-null   float64
 4   경도       5640 non-null   float64
 5   인허가일자    6664 non-null   object
 6   인허가취소일자  0 non-null      float64
 7   영업상태코드   6664 non-null   int64
 8   폐업일자     4173 non-null   object
 9   휴업시작일자   0 non-null      float64
 10  휴업종료일자   0 non-null      float64
 11  재개업일자    0 non-null      float64
 12  데이터갱신일자  6664 non-null   object
 13  업태구분명    6664 non-null   object
 14  한실수      5434 non-null   float64
 15  양실수      5347 non-null   float64
 16  욕실수      4813 non-null   float64
dtypes: float64(9), int64(1), object(7)
memory usage: 937.1+ KB

In [26]:
print(large1[~np.isnan(large1['위도'])].shape)
print(large2[~np.isnan(large2['위도'])].shape)

#print(large1.head())
#print(large2.head())

(5287, 26)
(5640, 17)

In [ ]:
large1[~np.isnan(large1['위도'])]

In [28]:
l1 = ~np.isnan(large1['위도'])
l2 = ~np.isnan(large2['위도'])
print(type(l1))
print(l1)

<class 'pandas.core.series.Series'>
0    False
0     True
0     True
0     True
0     True
     ...
0     True
0     True
0     True
0     True
0     True
Name: 위도, Length: 6664, dtype: bool

In [154]:
l1_F_index = set(l1.index[l1 == False].tolist())
l2_T_index = set(l2.index[l2 == True].tolist())
print(l1_F_index)
print(l2_T_index)

# l3_index = list(l1_F_index & l2_T_index)
# l3_index

# large3.iloc[l3_index,:] = large2.iloc[l3_index,:]

In [27]:
large3.to_csv("../DAIN/crw_large_list_v3.txt")
large3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6664 entries, 0 to 0
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   사업장명                    6664 non-null   object
 1   업소유형                    874 non-null    object
 2   업태구분명                   6664 non-null   object
 3   지번주소                    6653 non-null   object
 4   도로명주소                   3986 non-null   object
 5   위도                      5287 non-null   float64
 6   경도                      5287 non-null   float64
 7   별점                      310 non-null    float64
 8   방문자 리뷰수                 685 non-null    object
 9   블로그 리뷰수                 513 non-null    object
 10  지하철역과의 거리               774 non-null    object
 11  도보시간                    94 non-null     object
 12  한실수                     5434 non-null   float64
 13  양실수                     5347 non-null   float64
 14  욕실수                     4813 non-null   float64
 15  구비시설                    107 non-null    object
 16  네이버 이런점이 좋아요 총합         191 non-null    float64
 17  네이버 이런점이 좋아요 {항목:좋아요수}  191 non-null    object
 18  데이터갱신일자                 6664 non-null   object
 19  인허가일자                   6664 non-null   object
 20  인허가취소일자                 0 non-null      float64
 21  영업상태코드                  6664 non-null   int64
 22  폐업일자                    4173 non-null   object
 23  휴업시작일자                  0 non-null      float64
 24  휴업종료일자                  0 non-null      float64
 25  재개업일자                   0 non-null      float64
dtypes: float64(11), int64(1), object(14)
memory usage: 1.4+ MB

In [ ]:
l1_F_index = set(l1.index[l1 == False].tolist())
l2_T_index = set(l2.index[l2 == True].tolist())
print(l1_F_index)
print(l2_T_index)

l3_index = list(l1_F_index & l2_T_index)
l3_index